.button-modal {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0 !important;
}