.login-form{
  font-size: 14px !important;
}
.paragraph{
  color: rgb(56,74,88);
  
}

label{
  color: rgb(56,74,88);
}


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,rgb(238,221,207), rgb(239,181,180) );


    background: linear-gradient(to right,   rgb(238,221,207), rgb(239,181,180) );
}
.btn-login{
  border: white!important;
  margin-right: 5%;
}


@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }

/* styles.css */
.centered-image {
  width: 100%;
}


}