.login-form{
  font-size: 14px !important;
}
.paragraph{
  color: rgb(56,74,88);
  
}

label{
  color: rgb(56,74,88);
}

.gradient-custom-3 {

  /* background: #fccb90; */

  background: -webkit-linear-gradient(to right,rgb(238,221,207), rgb(239,181,180) );
  
 
  background: linear-gradient(to right,   rgb(238,221,207), rgb(239,181,180) );
  }
  
.btn{
   color: white!important; 
}


/*Buttons*/

.custom-checkbox-color{
  background-color: rgb(239,181,180)!important;
  color: rgb(239,181,180)!important;
  border-color: white!important;
}
.btn-outline-danger{
  color: red!important;
}

/* Errors       */
span.error {
  display: block;
  color: red;
  font-style: italic;
  font-size: 0.6rem;
  margin-top: 0.1rem;
}


  @media (min-width: 768px) {
  .login-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-3 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }