i {
    cursor: pointer;
}

.user-comment {
    display: flex;
    flex-direction: row;
}

.img-comment {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    object-fit: cover;
}

.description {
    margin-left:10px;
}
