i {
    cursor: pointer;
}

.user-comment {
    display: flex;
    flex-direction: row;
}

.img-comment {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0);
}


.colorComments li {
    color: rgb(56,74,88);
    background-color: #EFF3F6;
    border-radius: 20px;
    margin-bottom: 4%;
    margin-top: 1%;
  }

.description {
    margin-left:10px;
}

.description-user {
    font-size: 14px;
    font-weight: bold;
    text-decoration: wavy;
    text-align: center;
}

.description-comment {
    font-size: 15px;
}

