form {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: solid 1px #eee;
    border-radius: 0.5rem;
  }
  
  form > div {
    margin-bottom: 0.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.1rem;
  }
  
  input {
    display: block;
    padding: 0.5rem;
    background-color: #ededed;
    border: none;
  }
  